.contact-footer{
  display: flex;
  justify-content:space-around;
  background: #222;
  color: white;
  padding: 20px;
}

.contact-footer ul{
  list-style: none;
  padding: 0;
}

.contact-footer a{
  color: white;
  text-decoration: none;
}