
        header {
            position: fixed;          
            top: 0;
            left: 0;
            width: 100%;
            background-color: #4b3d2f;  
            color: white;
            padding: 15px;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        
        body {
            margin: 0;
            font-family: "Georgia", serif;
            background-color: #fff8ed; 
        }

        .container {
            display: flex;
            margin-top: 80px; 
        }


        .sidebar {
            width: 200px;
            height: 300px;            
            background-color: #e8d6b9; 
            padding: 20px;

            position: sticky;         
            top: 10px;                

            border-right: 3px solid #c0a16b;
        }

        .sidebar h3 {
            margin-top: 0;
            font-size: 20px;
            color: #4b3d2f;
        }

      
        .content {
            flex: 1;
            padding: 20px;
        }

        .product {
            background: white;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid #d4c4a3;
        }